<%= f.hidden_field :client_id, value: @client&.id || f.object.client_id %>
<div class= "nested_fields">
    <%= f.fields_for :invoice_details do |ff| %>
      <%= render partial: "invoice_details/form", locals: { f: ff } %>
    <% end %>
</div>
<%= link_to_add_row('Add Product', f, :invoice_details, class: 'btn btn-info') %>
