<div class="panel panel-default panel--light panel--md">
  <div class="panel-heading">
    <h4 class="panel-title">Edit invoice</h3>
  </div>
  <div class="panel-body">
    <%= form_for @invoice, url: invoice_path(@invoice), role: :form do |f| %>
      <div class="box">
        <div class="box-body">
          <%= render partial: 'form', locals: { f: f } %>
        </div>

        <div class="box-footer text-center">
          <%= link_to 'Cancel', client_path(@invoice.client_id), class: 'btn btn-danger' %>
          <%= f.submit 'Update', class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
