<div class="panel panel-default panel--light">
  <div class="panel-heading">
    <h3 class="panel-title">Invoice detail</h3>
  </div>
  <div class="panel-body">
    <%= render partial: "invoice_details/invoice_details",  locals: { invoice_details: @invoice_details, invoice: @invoice } %>
  </div>
</div>
