<div class="panel panel-default panel--light">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @client.name %></h3>
  </div>
  <div class="panel-body">
    <h3>Client invoices</h3>
  </div>
</div>
