<table class="table table--default table-responsive table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Product</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render invoice_details %>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total: </td>
    <td><%= invoice.total_price %></td>
  </tr>
  </tbody>

</table>
