$color-alto: #d8d8d8;
$color-white: #fff;
$color-ocean-green: #49aa88;
$color-danger: #dc3545;
$color-red: #f00;
$color-charade: #2f3542;
$color-cadet-blue: #a4b0be;
$color-athens-gray: #f1f2f6;
$color-pickled-bluewood: #2c3e50;
$color-bluewood: #34495e;
$color-porcelain: #ecf0f1;
$color-shadow:rgba(213,213,213,1);
