.page-container-wrapper {
  background-color: #f1f2f6;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  float: left;
  border-top: 1px solid #f1f2f6;
  padding: 2rem 3rem;
  transition: width 0.4s;
}

.d-flex {
  display: flex;
}
