<table class="table table--default table-responsive table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Price</th>
      <th>description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render products %>
  </tbody>
</table>
<%= paginate @products %>
