<div class="panel panel-default panel--light">
  <div class="panel-heading">
    <h4 class="panel-title">Product list</h3>
    <%= link_to new_product_path, class: "btn btn-success btn-xl" do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <%= render partial: "products",  locals: { products: @products } %>
  </div>
</div>
