<div class="panel panel-default panel--light">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @product.name %></h3>
  </div>
  <div class="panel-body">
    <h3>Client using list</h3>
    <table class="table table--default table-responsive table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>mark@samplemail.com</td>
          <td>123 Sample Address, Sample City</td>
          <td>(+01)123 233 155</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
