<div class="header-wrapper">
  <div class="header">
    <div class="header__logo-wrapper">
      <a href="/" class="header__logo">
        Simple Page
      </a>
    </div>
    <div class="header__left-nav">
      <div class="toggle-side-menu" onclick="toggleSideMenu()">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <ul class="header__right-nav">
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
    </ul>
  </div>
</div>
