<div class="header-wrapper">
  <div class="header">
    <div class="header__logo-wrapper">
      <h4>BrazilianCloud</h4>
    </div>
    <div class="header__left-nav">
      <div class="toggle-side-menu" onclick="toggleSideMenu()">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <ul class="header__right-nav">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </ul>
  </div>
</div>
