<div class="sidebar-wrapper">
  <div class="sidebar">
    <ul class="sidebar__menu menu">
      <!--  Sigle menu item  -->
      <li class="menu__item menu__item--active">
        <%= link_to products_path do %>
          <i class="fas fa-book"></i>
          <span class="menu__text">Products</span>
        <% end%>
      </li>
      <li class="menu__item menu__item--active">
        <%= link_to clients_path do %>
          <i class="fas fa-users"></i>
          <span class="menu__text">Client</span>
        <% end%>
      </li>
    </ul>
  </div>
</div>
