<div class="sidebar-wrapper">
  <div class="sidebar">
    <ul class="sidebar__menu menu">
      <!--  Sigle menu item  -->
      <li class="menu__item menu__item--active">
        <a href="#">
          <i class="fas fa-home"></i>
          <span class="menu__text">Menu Item</span>
        </a>
      </li>
      <!--  Menu item with sub-menu  -->
      <li class="sidebar__sub-menu menu__item" data-toggle="collapse" href="#sub-menu1" aria-expanded="false">
        <a href="#">
          <i class="fas fa-users"></i>
          <span class="menu__text">Menu Item</span>
        </a>
      </li>
      <ul class="collapse menu" id="sub-menu1">
        <li class="menu__sub-item">
          <a href="#">Sub-menu item</a>
        </li>
        <li class="menu__sub-item menu__sub-item--active">
          <a href="#">Sub-menu item</a>
        </li>
        <li class="menu__sub-item">
          <a href="#">Sub-menu item</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
